### Pandas lec-02: Data Structures in Pandas -Series

In [2]:
import pandas as pd

In [ ]:
# Data Structures in Python Pandas
- Pandas mainly provides two data structures for processing the data
    - Series
    - DataFrame
    - Panel

In [ ]:
# Data structures: Series
- it is defined as 1D array that is capable of storing various data types
    syntax: pd.Series(data=None, index=None, dtype: 'Dtype | None' = None, name=None, copy: 'bool' = False, 
                                                                                     fastpath: 'bool' = False)      
# Note: 
- if directly assigning the arguments maintain the position of positional arguments
- in series we can perform operations easily

In [40]:
# creating Series in pandas
l=[1,2,3,4,5]
sr=pd.Series(l)
print(sr,type(sr))
print(sr[3])         # accessing value by index number

0    1
1    2
2    3
3    4
4    5
dtype: int64 <class 'pandas.core.series.Series'>
4

In [42]:
# assigning index to the data
l=[1,2,3,4,5]
idx=['a','b','c','d','e']
sr=pd.Series(l,idx)
print(sr)

# creating multiple series of same data
idx=[1,2,3,4,5]
sr1=pd.Series(25,idx)
sr1

a    1
b    2
c    3
d    4
e    5
dtype: int64

1    25
2    25
3    25
4    25
5    25
dtype: int64

In [28]:
# changing data type of the data
l=[1,2,3,4,5]
idx=['a','b','c','d','e']
sr=pd.Series(l,idx,float)                  # maintaining positional arguments
print(sr)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [32]:
# giving name to the Series data structure
l=[1,2,3,4,5]
idx=['a','b','c','d','e']
sr=pd.Series(l,idx,float,'1st series')                  # maintaining positional arguments
print(sr)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: 1st series, dtype: float64

In [57]:
# Series data structure in pandas
l=[1,2,3,4,5]
idx=['a','b','c','d','e']
sr=pd.Series(l,idx,float,'1st series')                          # maintaining positional arguments
sr1=pd.Series(data=l,index=idx,dtype=float,name='1st series')      # assigning arguments
print(sr,'\n',sr1)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: 1st series, dtype: float64
 a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: 1st series, dtype: float64

In [38]:
# Note: we can even provide list, tuple, dictionary or set in Series data structures

d={'Name':['Rita','Gita','Nita','Raja'],'Age':[20,30,25,35],'Sex':['F','F','F','M']}
sr=pd.Series(d)
print(sr)             # data type is object bec we get mixed data type

Name    [Rita, Gita, Nita, Raja]
Age             [20, 30, 25, 35]
Sex                 [F, F, F, M]
dtype: object

In [43]:
# dealing with missing data in pandas data structure
sr1=pd.Series(25,[1,2,3,4,5])
sr2=pd.Series(10,[1,2,3])
print(sr1+sr2)             # it can possible in pandas but not in numpy bec of broadcasting

1    35.0
2    35.0
3    35.0
4     NaN
5     NaN
dtype: float64

### Pandas lec-03: Data Structures in Pandas -DataFrame

In [ ]:
# Data structures: DataFrame
- Two-dimensional, size-mutable, potentially heterogeneous tabular data
- Data structure also contains labeled axes (rows and columns)
- Arithmetic operations align on both row and column labels
- as a dict-like container for Series objects
- The primary pandas data structure
    syntax: pd.DataFrame(data=None, index: 'Axes | None' = None, columns: 'Axes | None' = None, dtype: 'Dtype | None' = None,
                                                                                                copy: 'bool | None' = None)
# Note: we can even provide list, tuple, dictionary or set in DataFrame data structures

In [74]:
# creating dataframe in pandas
l=[[1,2,3,4,5],[11,12,13,14,15]]                          # using list
df1=pd.DataFrame(l)
print(df1,'\n',type(df1))

d={'a':[1,2,3,4,5],'b':[9,8,7,6,5],'c':[3,4,5,6,7]}       # using dictionary -here length of data should be balanced
df2=pd.DataFrame(d)
print(df2)

sr={'c1':pd.Series([1,2,3,4,5]),'c2':pd.Series([11,12,13,14,15])}    # using series
df3=pd.DataFrame(sr)
print(df3)

    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15
 <class 'pandas.core.frame.DataFrame'>
   a  b  c
0  1  9  3
1  2  8  4
2  3  7  5
3  4  6  6
4  5  5  7
   c1  c2
0   1  11
1   2  12
2   3  13
3   4  14
4   5  15

In [49]:
# assigning index and column to the data
l=[1,2,3,4,5]
idx=['a','b','c','d','e']
col=['a']
df=pd.DataFrame(l,idx,col)
print(df)

   a
a  1
b  2
c  3
d  4
e  5

In [50]:
# changing data type of the data
l=[1,2,3,4,5]
idx=['a','b','c','d','e']
col=['a']
df=pd.DataFrame(l,idx,col,float)
print(df)

     a
a  1.0
b  2.0
c  3.0
d  4.0
e  5.0

In [58]:
# DataFrame data structure in pandas
l=[1,2,3,4,5]
idx=['a','b','c','d','e']
col=['a']
df=pd.DataFrame(l,idx,col,float)                             # maintaining positional arguments
df1=pd.DataFrame(data=l,index=idx,columns=col,dtype=float)        # or by assigning arguments --prefer this to avoid error
print(df1)

     a
a  1.0
b  2.0
c  3.0
d  4.0
e  5.0

In [5]:
# accessing values by index or columns                             
d={'a':[1,2,3,4,5],'b':[9,8,7,6,5],'c':[3,4,5,6,7]}

# accessing data from columns
df=pd.DataFrame(d,columns=['b','c'])
print(df)

# accessing data by index                                ------ask--------

# to access any particular data in DataFrame
print(df['b'][3])

   b  c
0  9  3
1  8  4
2  7  5
3  6  6
4  5  7
6

In [81]:
# changing index of DataFrame
d={'a':[1,2,3,4,5],'b':[9,8,25,6,5],'c':[3,4,5,6,7]}
idx=['1st','2nd','3rd','4th','5th']
df=pd.DataFrame(d,idx)
print(df)

     a   b  c
1st  1   9  3
2nd  2   8  4
3rd  3  25  5
4th  4   6  6
5th  5   5  7